@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Noto Sans JP", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-flow: wrap;
    justify-content: center;
}

.flex-item {
    width: 375px;
}
